@font-face {
    font-family: "Rijks-Normal";
    src: url("./assets/fonts/Rijksmuseum-Normal.woff") format("woff");
}

@font-face {
    font-family: "Rijks-Bold";
    src: url("./assets/fonts/Rijksmuseum-Bold.woff") format("woff");
}



:root {
    --heading-font: Rijks-Bold;
    --text-font: Rijks-Normal ,Helvetica, Arial;
    --h1-fontsize: clamp(72px, 12vw, 120px);
    --h2-fontsize: clamp(40px, 8vw, 80px);
    --itemtext-fontsize: clamp(24px, 3vw, 36px);
    --text-fontsize: clamp(18px, 2.5vw, 24px);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    /* background: radial-gradient(100% 100% at 49.87% 0%, #2D2A22 0%, #000000 100%); */
    background: radial-gradient(61.58% 61.58% at 49.87% 38.42%, rgba(45, 42, 34, 0.35) 0%, rgba(0, 0, 0, 0.74) 100%), url(./assets/Nachtwacht.jpeg);
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}

header {
    padding: 0 24px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}
header h1 {
    font-size: var(--h1-fontsize);
    background: -webkit-linear-gradient(180deg, #FFFFFF -10.75%, rgba(255, 255, 255, 0.7) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--heading-font);
    margin-top: 24px;
}

form {
    display: flex;
    margin-top: 16px;
}

input {
    height: 7.5vh;
    background: transparent;
    border: 0;
    color: white;
    border-bottom: 1px solid white; 
    padding-left: 12px;
    font-size: 1.2em;
    min-width: 90%;
    margin-left: 5%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

form button {
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    font-family: var(--text-font);
    font-size: var(--text-fontsize);
    padding: 0;
    transform: translateX(20px);
    opacity: 0;
    width: 35%;
    text-align: center;
}


main {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999;
    background-color: #00000000;
    overflow: hidden;
}

main > section:first-of-type {
    height: 72%;
    width: 100%;
    margin-top: 10%;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(300px);
}

main section::-webkit-scrollbar {
    display: none;
  }

a {
    height: 100%;
    min-width: 80%;
    margin-left: 7.5%;
    scroll-snap-align: center;
    text-decoration: none;
}

figure:last-of-type {
    margin-right: 7.5%;
}

.item {
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

figcaption {
    color: #FFFFFF;
    font-size: var(--itemtext-fontsize);
    font-family: var(--text-font);
}

.focussed-main {
    background-color: #000000;
    transition: .1s;
}

.focussed-searchbar {
    transition: .5s; 
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.340, 1.085); 
    min-width: 60%;
}

.focussed-hidebutton {
    transform: translateX(0px);
    transition: .5s;
    opacity: 1;

}

.details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 16px;
    background-color: #000000;
}

.details button {
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    font-family: var(--text-font);
    font-size: var(--text-fontsize);
    padding: 0;
}

.details h2 {
    font-size: var(--h2-fontsize);
    background: -webkit-linear-gradient(180deg, #FFFFFF -10.75%, rgba(255, 255, 255, 0.7) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--heading-font);
    margin-top: 24px;
}

.details p {
    color: #FFFFFF;
    font-size: var(--itemtext-fontsize);
    font-family: var(--text-font);
}

.disabled {
    display: none;
}



/* #root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#root section img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    top: 0;
} */
/* .loader {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}

.loaderline {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translateY(-50%);
  } */